<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant"
      th:replace="~{layout :: layout (~{::title}, ~{::body}, ~{::cssLinks})}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<th:block th:fragment="title">後台管理系統</th:block>
<th:block th:fragment="cssLinks">
	<link rel="stylesheet" th:href="@{/css/home.css}" />
</th:block>

</head>
<body>
	<header class="site-header">
		<div class="header-left">
			<div class="logo-wrapper">
				<img th:src="@{/images/logo.png}"
					alt="Tiger Travel Logo" class="logo-img" /> <span
					class="site-title">後台管理系統</span>
			</div>
		</div>

		<div class="header-right">
			<div th:text="'Hi, 歡迎 ' + ${session.managerName}"></div>
			<form th:action="@{/manager/logout}" method="post">
				<button type="submit">登出</button>
			</form>
		</div>
	</header>
	<div class="container">

		<h1>旅遊網站後台管理系統</h1>

		<div class="module-list">
			<div class="card">
				<h3>行程管理</h3>
				<p>設定行程內容、主圖與每日日程</p>
				<a th:href="@{/admin/travelplans}">前往管理</a>
			</div>

			<div class="card">
				<h3>訂單管理</h3>
				<p>查看報名訂單與付款狀態</p>
				<a th:href="@{/admin/orders/list}">前往管理</a>
			</div>

			<div class="card">
				<h3>會員管理</h3>
				<p>查看會員資料與參加紀錄</p>
				<a th:href="@{/admin/members/list}">前往管理</a>
			</div>

			<div class="card">
				<h3>景點管理</h3>
				<p>維護景點資訊與分類標籤</p>
				<a th:href="@{/admin/scenery/listallscenery}">前往管理</a>
			</div>

			<div class="card">
				<h3>票券管理</h3>
				<p>設定與管理旅遊票券</p>
				<a th:href="@{/admin/ticket/list}">前往管理</a>
			</div>
		</div>
	</div>
</main>
</html>
