<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>訂單明細</h3>
	<p>訂單編號：<span th:text="${order.ticketOrderId}"></span></p>
	<p>金額：<span th:text="${order.orderPrice} + ' 元'"></span></p>
	<p>狀態：
	    <span th:switch="${order.orderStatus}">
	        <span th:case="0">待付款</span>
	        <span th:case="1">已付款</span>
	        <span th:case="2">已取消</span>
	        <span th:case="*">未知</span>
	    </span>
	</p>
	<p>下單時間：<span th:text="${#dates.format(order.orderDatetime, 'yyyy/MM/dd HH:mm')}"></span></p>
	<a th:href="@{/member/ticket/orders}" class="btn btn-secondary">返回列表</a>
</body>
</html>