<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>密碼已重設</title>
</head>
<body>
	<form>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
    <!-- SweetAlert2 套件 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- ✅ 成功訊息彈窗 -->
    <script th:inline="javascript" th:if="${msg != null}">
        console.log("🧪 SweetAlert 執行了！");
        Swal.fire({
            icon: 'success',
            title: '密碼重設成功',
            text: '[[${msg}]]',
            timer: 2000,
            showConfirmButton: false
        }).then(() => {
            window.location.href = '/login';
        });
    </script>
</body>
</html>
